@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 92.6%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

:root {
  --primary-color: #DC6226;
  --secondary-color: #404B52;
  --tertiary-color: #525C63;
  --header-icon-color: #808C94;
}

html { scroll-behavior: smooth; }
.container { position: relative; }
.hamburger { display: none; }
.close-nav { display: none; }

header {
  background-color: var(--secondary-color);
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 { font-size: 0; }
nav { flex-basis: 54.5%; }

nav a {
  padding: 17px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary-color);
  z-index: 1;
  width: 100%;
}

.menu { position: relative; }
.dropdown-deactived { display: none; }

nav a:hover { color: var(--primary-color); }

nav .menu:nth-child(2):after {
  content: '\f0d7';
  font-family: 'FontAwesome';
  text-indent: 0;
  font-size: 12px;
  color: var(--primary-color);
  float: right;
  position: absolute;
  bottom: 0;
  left: 35px;
}

.slider-action a,
.social-icon a {
  text-indent: -9999px;
  display: block;
  font-size: 24px;
  padding-left: 12px;
}

.slider-action a::before,
.social-icon a::before {
  font-family: 'FontAwesome';
  text-indent: 0;
  color: var(--header-icon-color);
  float: right;
}

.social-icon li:nth-child(1) a::before { content: '\f081'; }
.social-icon li:nth-child(2) a::before { content: '\f167'; }
.social-icon li:nth-child(3) a::before { content: '\f09e'; }
.social-icon li:nth-child(4) a::before { content: '\f082'; }
.social-icon li:nth-child(5) a::before { content: '\f0d4'; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.display-none { display: none; }

/* banner section started here */

.banner .wrapper { 
  width: 100%;
  position: relative;
}

h2 {
  position: absolute;
  bottom: 4.5%;
  width: 38%;
  color: #fff;
  line-height: 34px;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.banner .slider-action {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  width: 48%;
  padding: 4.3% 3.6%;
  left: 50%;
  transform: translateX(-50%);
}

.banner .slider-action a {
  font-size: 30px;
  padding: 0;
}

.banner .slider-action li {
  top: 39%;
  position: absolute;
}

.slider-action a::before { color: #fff; }
.slider-action li:nth-child(1) a::before { content: '\f053'; }
.slider-action li:nth-child(2) a::before { content: '\f054'; }
.slider-action li:nth-child(1) { left: 3.5%; }
.slider-action li:nth-child(2) { right: 3.5%; }

/* banner section ended here */

/* our clients section started here */

.our-clients .wrapper { padding: 6.8% 0; }

.our-clients h3 {
  font-size: 38px;
  color: var(--tertiary-color);
  font-weight: bold;
  text-align: center;
}

.our-clients .outter-box {
  display: flex;
  justify-content: space-between;
  padding-top: 3.5%;
}

.our-clients .inner-box {
  flex-basis: 23%;
  text-align: center;
  position: relative;
}

.our-clients .inner-box p {
  font-size: 14px;
  line-height: 22px;
  color: #959596;
  padding-bottom: 18px;
}

.our-clients .inner-box h3 {
  font-size: 18px;
  margin: 0 23% 9%;
  font-family: 'FontAwesome';
  float: right;
  padding-top: 31%;
  line-height: 24px;
}

.our-clients .inner-box h3::before {
  color: #fff;
  background-color: var(--primary-color);
  padding: 20px 16px;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.our-clients .inner-box:nth-child(1) h3::before { content: '\f1f0'; }
.our-clients .inner-box:nth-child(2) h3::before { content: '\f1f0'; }
.our-clients .inner-box:nth-child(3) h3::before { content: '\f1f0'; }
.our-clients .inner-box:nth-child(4) h3::before { content: '\f1f0'; }

.read-more-button {
  padding: 14px 16px;
  color: var(--tertiary-color);
  border: 1px solid #959596;
}

/* our clients section ended here */

/* advice section started here */

.advice .wrapper { padding: 6.3% 0 4.5%; }
.advice { background-color: #E8EDF1;}
.advice-deactivated { display: none; }

.advice-activated {
  display: block;
  transition: all .3s ease;
}

.advice h3 {
  font-size: 38px;
  color: var(--tertiary-color);
  font-weight: bold;
  text-align: center;
}

.advice p {
  font-size: 20px;
  color: var(--tertiary-color);
  line-height: 32px;
  padding: 19px 0;
  text-align: center;
}

.advice .outter-box {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
}

.advice .inner-box {
  padding: 8px 8px 40px;
  background-color: #fff;
  width: 30%;
  text-align: center;
}

.advice img { width: auto; }

.advice h4 {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  padding-top: 11%;
}

.advice .inner-box p {
  font-size: 12px;
  width: 80%;
  line-height: 22px;
  color: #B6BAB7;
  margin: 0 auto;
  padding: 9px 0 10px 0;
}

.advice .inner-box a {
  text-indent: -9999px;
  font-size: 11px;
}

.advice .inner-box a::before {
  font-family: 'FontAwesome';
  text-indent: 0;
  color: var(--secondary-color);
  float: right;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  padding: 2px 3px;
}

.advice .inner-box:nth-child(1) a::before { content: '\f061'; }
.advice .inner-box:nth-child(2) a::before { content: '\f061'; }
.advice .inner-box:nth-child(3) a::before { content: '\f061'; }

/* advice section ended here */

/* investment tips section started here */

.investment-tips .wrapper { width: 100%; }
.investment-tips .outter-box { display: flex; }

.investment-tips .inner-box {
  color: #fff;
  padding: 3.3% 3.7% 2.9%;
  flex-basis: 50%;
}

.investment-tips .inner-box:nth-child(1) { background-color: var(--primary-color); }
.investment-tips .inner-box:nth-child(2) { background-color: var(--secondary-color); }

.investment-tips h5 {
  font-size: 36px;
  font-weight: bold;
}

.investment-solutions { padding: 3% 0 3.5%; }
.inner-box:first-child .investment-solutions { padding-bottom: 4.3%; }

.investment-solutions li {
  width: 100%;
  line-height: 2.2;
}

.save-money li:last-child {
  line-height: 1.3;
  padding: 8px 0;
}

.investment-solutions p { 
  font-size: 18px;
  transition: all .3s ease;
}

.gear-icon::before {
  content: '\f013';
  font-family: 'FontAwesome';
  float: left;
  font-size: 14px;
  margin: 2px 3.5% 0 0;
}

.save-money { margin-left: 7.5%; }

.load-more-button {
  color: #fff;
  border: 2px solid #fff;
  padding: 13px 15px;
  font-size: 15px;
  font-weight: bold;
}

/* investment tips section ended here */

/* our client slider section started here */

.our-clients-slider .wrapper {
  width: 100%;
  position: relative;
}

.our-clients-slider .slider {
  padding: 2% 0;
  display: flex;
  justify-content: center;
}

.our-clients-slider li {
  margin: 0 .5%;
}

.our-clients-slider .slider-action {
  position: absolute;
  top: 42%;
  width: 100%;
  display: flex;
}

.previous-button {
  margin: 0;
  left: 1.2%;
  position: absolute;
}

.next-button {
  right: 2%;
  position: absolute;
  margin: 0;
}

.our-clients-slider a.previous-button::before,
.our-clients-slider a.next-button::before {
  color: var(--tertiary-color);
}

/* our client slider section ended here */


/* contact section started here */

.quick-contact {
  background: url(https://dummyimage.com/1360x388/E5E6EA/fff) no-repeat center/cover;
  padding: 5.5% 0;
}

.quick-contact h5 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.quick-contact .outter-box { display: flex; }

.quick-contact .inner-box:first-child {
  width: 31.4%;
  margin-right: 4.5%;
}

.quick-contact .inner-box:last-child {
  width: 65%;
}

.quick-contact .form-group { margin-bottom: 14px; }

.quick-contact .form-content {
  width: 100%;
  padding: 6px 10px;
}

/* contact section ended here */

/* contact info section started here */

.contact-info {
  background-color: var(--tertiary-color);
  padding: 7.4% 0;
}

.contact-info .outter-box { display: flex; }

.contact-info .inner-box {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  flex-basis: 34%;
}

.contact-info address,
.contact-info a {
  color: #fff;
  display: flex;
  align-items: center;
}

.contact-info address::before,
.contact-info a::before {
  font-family: 'Font Awesome 5 Free';
  color: #fff;
  background-color: var(--primary-color);
  text-indent: 0;
  font-size: 32px;
  margin-right: 4%;
  float: left;
  border-radius: 50%;
  padding: 20px 24px;
  border: 8px solid #6D717C;
}

.contact-info .inner-box:nth-child(1) address::before { content: '\f3c5'; }

.contact-info .inner-box:nth-child(2) a::before {
  content: '\f0e0';
  padding: 20px;
}

.contact-info .inner-box:nth-child(3) a::before {
  content: '\f879';
  padding: 20px;
}

/* contact info section started here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  background-color: #414C53;
  padding: 3.8% 0 16.6%;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .inner-box:first-child { width: 50%; }

.footer h6 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding-top: 4.9%;
}

h6 span {
  font-size: 12px;
  text-transform: capitalize;
  margin-left: 3px;
}

.footer .inner-box li { margin-right: 3.1%; }
.footer-social-icon { padding-top: 2.5%; }

.footer-social-icon a {
  text-indent: -9999px;
  display: block;
  font-size: 30px;
}

.footer-social-icon a::before {
  font-family: 'FontAwesome';
  text-indent: 0;
  color: var(--primary-color);
  float: right;
}

.footer-social-icon li:nth-child(1) a::before { content: '\f082'; }
.footer-social-icon li:nth-child(2) a::before { content: '\f081'; }
.footer-social-icon li:nth-child(3) a::before { content: '\f167'; }
.footer-social-icon li:nth-child(4) a::before { content: '\f09e'; }
.footer-social-icon li:nth-child(5) a::before { content: '\f082'; }
.footer-social-icon li:nth-child(6) a::before { content: '\f0d4'; }

.to-the-top {
  position: fixed;
  padding: 10px;
  color: #fff;
  background-color: #000;
  right: 4%;
  bottom: 4%;
  opacity: 0;
  transition: all .3s ease;
  visibility: hidden;
}

.top-active {
  visibility: visible;
  opacity: 1;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  header .social-icon { display: none; }

  .nav-hide {
    transform: translateX(100%);
    transition: all .3s ease;
  }

  .hamburger {
    display: block;
    text-indent: -9999px;
  }
  
  .hamburger::after {
    content: '\f0c9';
    font-family: 'FontAwesome';
    font-size: 30px;
    float: right;
    margin-right: 15px;
    color: #fff;
    text-indent: 0;
  }

  .nav-menu {
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 2;
  }

  nav {
    width: 50%;
    position: fixed;
    visibility: visible;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0);
    background-color: #000;
    transition: all .3s ease;
  }

  .close-nav {
    padding: 0;
    display: block;
    font-size: 0;
    text-indent: -9999px;
  }

  .close-nav::before {
    content: '\f057';
    position: absolute;
    top: 40px;
    right: 10%;
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 30px;
    float: right;
    text-indent: 0;
  }

  .menu-list {
    padding: 33% 0;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}  